.face-container{
    position: relative;
}
.face img{
    display: flex;
    width:500px;
    min-height:200px;
    margin:5px;
}
.bounding-box{
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}
.bounding-box-concepts {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
}
.bounding-box__concept{
    background: #149df2;
    color: #fff;
    white-space: nowrap;
    font-size: 0.75rem;
    line-height: 0.75rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: baseline;
    align-items: baseline;
    font-weight: 700;
    padding: 1px 3px;
    border-radius: 2px 2px 0 0;
}