body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(89deg,#ff5edf 0%,#04c8de 100%);
}
nav p{
    text-decoration: underline;
    font-size: 1.4rem; 
    padding:1em 0.5em;   
}
nav p:hover{
    color:#808080;
    cursor: pointer;
}
.center{
    display: flex;
    justify-content: center;
}
button{
    cursor: pointer;
}
.particles{
    position:fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    z-index: -1;
}
.welcome{
    text-decoration: none;
}
.welcome:hover{
    cursor: default;
    color:black;
}
